<footer>
    <div>
        <img src="img/logo_fundo_removido_verde.png" alt="Logo Clínica">
        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i><span>Instagram</span></a>
        <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i><span>Whatsapp</span></a>
    </div>
    <span id="direitos"><i class="bi bi-at"></i>Copyright Clínica Médica, todos os direitos reservados</span>
    <ul id="listabaixo">
        <li><a routerLink="">Início</a></li>
        <li><a routerLink="/agendar">Agendar Consulta</a></li>
        <li><a routerLink="/corpo">Corpo Clínico</a></li>
        <li><a routerLink="/faleconosco">Fale Conosco</a></li>
    </ul>
</footer>
