<main>
    <h1>AGENDAR CONSULTA</h1>
    <form id="form" (ngSubmit)="enviarAgendamento()">
        <div class="mb-3">
            <label for="data" class="form-label">DATA</label>
            <input type="date" [(ngModel)]="agendamento.data" id="data" name="data" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="hora" class="form-label">HORÁRIO</label>
            <input type="time" [(ngModel)]="agendamento.hora" id="hora" name="hora" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="paciente" class="form-label">PACIENTE</label>
            <select [(ngModel)]="agendamento.pacienteId" name="paciente" id="paciente" class="form-select" required>
                <option [ngValue]="null" disabled>Selecione um paciente</option>
                @for(p of pacientes; track p.id){
                    <option [value]="p.id">{{p.nome}}</option>
                }
            </select>
        </div>
        
        <div class="mb-3">
            <label for="medico" class="form-label">MÉDICO</label>
            <select [(ngModel)]="agendamento.medicoId" name="medico" id="medico" class="form-select" required>
                <option [ngValue]="null" disabled>Selecione um médico</option>
                @for(m of medicos; track m.id){
                    <option [value]="m.id">{{m.nome}}</option>
                }
            </select>
        </div>
        <button type="submit" id="enviar">ENVIAR</button>
    </form>
    <p id="cadastro">Ainda não possui cadastro? <a routerLink="/cadastropaciente">Cadasta-se</a></p>
    <a id="agendar" href="/consulta">Ver Consultas</a>
</main>