<main>
    <h1>CADASTRO MÉDICO</h1>
    <form id="form" (ngSubmit)="enviarMedico()">
        <div class="mb-3">
            <label for="name" class="form-label">NOME COMPLETO</label>
            <input type="text" [(ngModel)]="medico.nome" id="name" name="name" class="form-control" placeholder="Ex.: Dr. João Silva" required>
        </div>
        
        <div class="mb-3">
            <label for="crm" class="form-label">CRM</label>
            <input type="text" [(ngModel)]="medico.crm" id="crm" name="crm" class="form-control" placeholder="CRM/UF XXXXXX" required>
        </div>  

        <div class="mb-3">
            <label for="telefone" class="form-label">TELEFONE</label>
            <input type="tel" [(ngModel)]="medico.telefone" id="telefone" name="telefone" class="form-control" placeholder="(XX)XXXXX-XXXX" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">EMAIL</label>
            <input type="email" [(ngModel)]="medico.email" id="email" name="email" class="form-control" placeholder="Ex.: joaosilva@gmail.com" required>
        </div>
        
        <button type="submit" id="enviar">ENVIAR</button>
    </form>
    
</main>