<main>
    <h1>FALE CONOSCO</h1>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">NOME COMPLETO</label>
            <input type="text" id="name" name="name" class="form-control">
        </div>
        
        <div class="mb-3">
            <label for="telefone" class="form-label">TELEFONE</label>
            <input type="tel" id="telefone" name="telefone" class="form-control">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">EMAIL</label>
            <input type="email" id="email" name="email" class="form-control">
        </div>
        
        <div class="mb-3">
            <label for="mensagem" class="form-label">MENSAGEM</label>
            <textarea class="form-control" name="mensagem" id="mensagem" rows="9">

            </textarea>
        </div>
    </form>
    <button id="enviar">ENVIAR</button>
</main>